<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        {% for x in images %}
            {{x.description}}
            <img src="{{ x.image.url }}" alt="">
            <!-- <iframe src="" frameborder="0"></iframe> -->
             {% if x.files %}
                <p>
                    <a href="{{ x.files.url }}" download>Download File</a>
                </p>
                <iframe src="{% url 'view_pdf' x.id %}" width="800" height="600"></iframe>

                <!-- <embed src="{% url 'view_pdf' x.id %}" type="application/pdf" width="600" height="500"></embed> -->
            {% endif %}
        {% endfor %}
    </div>
</body>
</html>