{% extends "base.html" %}

{% block title %}Post List{% endblock %}


{% block content %}
{% include "button.html" %}
  <div>
        
        {% for x in posts %}
        {% if role == 'admin' %}
            <h1 style="background-color: green;">{{ x.title }}</h1>
            {{ x.content }}
            <a href="details/{{ x.id }}">click here to details</a>
        
        {% elif role == 'user' %}
            <h1 style="background-color: blue;">{{ x.title }}</h1>
            {{ x.content }}
            <a href="details/{{ x.id }}">click here to details</a>
        {% endif %}
        <!-- {% if x.title == 'django' %}
             <h1 style="background-color: red;">{{ x.title }}</h1>
            {{ x.content }}
            <a href="details/{{ x.id }}">click here to details</a>
        {% endif %} -->
        {% endfor %}
            <h1>loop has been ended</h1>

    </div>


{% endblock %}


 {% block pricing %}


    <h1>This is pricing cards</h1>
{% endblock %}