<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>profile</h1>
    {% for post in posts %}
        <div>
            <h2>{{ post.title }}</h2>
            <p>{{ post.content }}</p>
            <p>By: {{ post.author.username }} on {{ post.created_at }}</p>
            <a href="{% url 'update_post' post.id %}">Edit Post</a>
            <a href="{% url 'delete_post' post.id %}">Delete Post</a>
        </div>
    {% empty %}
        <p>No posts available.</p>
    {% endfor %}
</body>
</html>